<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alea">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_gudang"
        android:label="MyOffice"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Barang"></activity>
        <activity android:name=".MasterBarang" />
        <activity android:name=".EditUser" />
        <activity android:name=".user" />
        <activity android:name=".MasterUser" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>